@font-face {
    font-family: 'DynaPuff';
    src: url('https://summer.hackclub.com/assets/DynaPuff-e427f9fa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'DynaPuff', cursive, sans-serif;
}


.maindiv {
    width: 100%;
    height: 100%;
}

.downloaddiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 600px;
    width: 80%;
    height: fit-content;

    border: 2px solid #dfc8af;
    background-color: #e9d5bd;

    border-radius: 15px;

    text-align: center;

    padding: 20px;
    padding-top: 0;
}

.downloaddiv video {
    width: 100%;

    border-radius: 15px;
}